@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/CascadiaCode/CaskaydiaCoveNerdFont-Regular.ttf");
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #24292e;
  color: #fafbfc;
  font-family: "Cascadia Code";
  font-size: 100%;
}

.container {
  margin: 20px;
}

kbd {
  background-color: #fafbfc;
  color: #24292e;
}

input {
  border: none;
  outline: none;
  background-color: #24292e;
  color: #fafbfc;
  font-family: "Cascadia Code";
  font-size: 100%;
  width: 83%;
  margin: 0px 0px 0px 10.5px;
  padding: 0px;
}

.flexbox {
  display: flex;
}

a {
  color: #0d74e7;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.green {
  color: #2fbb4f;
}

.light-dark {
  color: #d3d3d3;
}

.purple {
  color: #b026ff;
}

.nospace {
  display: inline-block;
  margin-right: 0px;
}

.space {
  display: inline-block;
  margin-left: 10.5px;
}
