@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/CascadiaCode/CaskaydiaCoveNerdFont-Regular.ttf");
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #24292e;
  color: #fafbfc;
  font-family: "Cascadia Code";
  font-size: 100%;
}

.container {
  margin: 20px;
}

kbd {
  background-color: #fafbfc;
  color: #24292e;
}

input {
  border: none;
  outline: none;
  background-color: #24292e;
  color: #fafbfc;
  font-family: "Cascadia Code";
  font-size: 100%;
  width: 100%;
  margin-left: 9.5px;
  padding: 0px;
}

.flexbox {
  display: flex;
}

a {
  color: #0d74e7;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.green {
  color: #2fbb4f;
}

.light-dark {
  color: #d3d3d3;
}

.purple {
  color: #b026ff;
}

.space {
  display: inline-block;
  margin-left: 9.5px;
}

/* Mobile devices */

@media only screen and (max-width: 600px) {
  #logo {
    transform: scale(0.55);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100% !important;
  }

  body {
    font-size: 85%;
  }
}

/* -------------Settings Style-------------- */

.setting {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Cascadia Code";
}

#settingsButton {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#settingsDialog {
  width: 300px;
  padding: 20px;
  border: none;
  background-color: #f3f3f3;
}

#settingsDialog form {
  display: flex;
  flex-direction: column;
}

#settingsDialog label {
  margin-bottom: 10px;
}

#settingsDialog select,
#settingsDialog input {
  margin-bottom: 20px;
  padding: 10px;
}

#settingsDialog button {
  padding: 10px 20px;
  color: black;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
}

#settingsDialog button:hover {
  color: white;
  background-color: black;
}

#closeButton {
  position: relative;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #f3f3f3;
}

#closeButton:hover {
  position: relative;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
}